{% load i18n %}

<nav class="navbar navbar-dark navbar-expand-md bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand h6" href="{% url 'home' %}">Gazali Academy</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-links-list">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'home' %}"
						>{% trans "Home" %}</a
					>
				</li>
				<li class="nav-item dropdown">
					<form id="language-form" action="{% url 'set_language' %}" method="POST"> 
                        {% csrf_token %} 
                        {% get_current_language as LANGUAGE_CODE %}  
                        {% get_available_languages as LANGUAGES %}  
                        {% get_language_info_list for LANGUAGES as languages %}
                        <div class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" type="button" style="background: transparent; border: transparent;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans "Language" %}
                            </button>
                            <ul class="dropdown-menu p-0" style="border: none;" aria-labelledby="dropdownMenuButton1">
                                {% for language in languages %}
                                    <li>
                                        <input type="radio" class="btn-check dropdown-item language-input" name="language" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} checked {% endif %} id="{{ language.name_local }}" autocomplete="off" onclick="document.getElementById('language-form').submit();">
                                        <label class="btn btn-outline-primary w-100" for="{{ language.name_local }}" style="border: none;">{{ language.name_local }}</label>
                                    </li>
                                    {% if language.name_local == "العربيّة" %}
                                        <li><hr class="dropdown-divider m-0"></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						{% trans "Blog" %}
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item" href="{% url 'blog_list' %}">
								{% trans "All Articles" %}
							</a>
						</li>
						{% if user.is_authenticated %}
							<li><hr class="dropdown-divider" /></li>
							<li>
								<a class="dropdown-item" href="{% url 'blog_personal' %}">
									{% trans "My Articles" %}
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{% url 'blog_create' %}">
									{% trans "Create Article" %}
								</a>
							</li>
						{% endif %}
					</ul>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'course_personal' %}">{% trans "My Courses" %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
				</li>
				<li class="nav-item ms-md-4" style="width: fit-content">
					<a class="fc gap-2 btn btn-outline-light" href="{% url 'cart' %}">
						{% trans "Cart" %}<i class="bi bi-cart"></i> <span id="cart-courses-number">({{ cart_courses|length }})</span>
					</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}"
						>{% trans "Register" %}</a
					>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>