{% extends 'base.html' %}
{% load i18n %}


{% block title %}
    {% trans "Register" %}
{% endblock title %}


{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="card col-md-6 px-0">
                <div class="card-header text-white bg-dark bg-gradient"> 
                    <h3 class="mb-0 py-2">{% trans "Register" %}</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% include 'common/form.html' with form=form %}
                        <button class="btn btn-success">
                            {% trans "Register" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}