{% extends 'base.html' %}
{% load i18n static humanize %}

{% block title %}
    {{ lesson.title }}
{% endblock title %}

{% block content %}
    <div class="container my-5">
        <h3 class="mb-4 text-white">{{ lesson.title }}</h3>
        <video class="w-100 rounded" controls>
            <source src="{{ lesson.video_url }}" type="video/mp4">
        </video>
        <div class="d-flex flex-column-reverse gap-5 my-5 container bg-dark py-3 rounded">
            {% for comment in lesson.comment_set.all %}
                {% if comment.user == user %}
                    <div id="comment-{{ comment.id }}" class="card px-2 py-3 position-relative align-self-end" style="width: 80%">
                        <p class="card-text text-muted fw-bold">
                            {% trans "You" %}
                        </p>
                        <p class="card-text mt-sm-0 mt-3">
                            {{ comment.content }}
                        </p>
                        {% if comment.related_comment %}
                        <a href="#comment-{{ comment.related_comment_id }}" class="card-text p-2 rounded related-comment" style="background-color: var(--bs-gray-400); ; text-decoration: none">
                            <p class="fw-bold text-muted">{% trans "Reply For:" %}</p>
                            <p class="text-black">{{ comment.related_comment }}</p>
                        </a>
                        {% endif %}
                        <div class="d-flex flex-wrap justify-content-end container gap-3 position-absolute end-0 me-1" style="width: 70%">
                            <form action="{% url 'course_personal_comment_delete' comment.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" style="width: 90px;">
                                    {% trans "Delete" %} <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                        <span class="me-auto text-muted small mt-4">
                            <i class="bi bi-clock"></i>
                            <time datetime="{{ project.created_at }}">
                                {{ comment.created_at|naturaltime }}
                            </time>
                        </span>
                    </div>
                {% else %}
                    <div id="comment-{{ comment.id }}" class="card px-2 py-3 position-relative align-self-start" style="width: 80%;">
                        <p class="card-text text-muted fw-bold">
                            {{ comment.user }}
                        </p>
                        <p class="card-text mt-sm-0 mt-3">
                            {{ comment.content }}
                        </p>
                        {% if comment.related_comment %}
                            <a href="#comment-{{ comment.related_comment_id }}" class="card-text p-2 rounded related-comment" style="background-color: var(--bs-gray-400); ; text-decoration: none">
                                <p class="fw-bold text-muted">{% trans "Reply For:" %}</p>
                                <p class="text-black">{{ comment.related_comment }}</p>
                            </a>
                        {% endif %}
                        <div class="d-flex flex-wrap justify-content-end container gap-3 position-absolute end-0 me-1" style="width: 70%">
                            <button class="btn btn-primary" data-cid="{{ comment.id }}" data-comment-text="{{ comment.content }}">
                                {% trans "Reply" %} <i class="bi bi-reply-fill"></i>    
                            </button>
                        </div>
                        <span class="me-auto text-muted small mt-4">
                            <i class="bi bi-clock"></i>
                            <time datetime="{{ project.created_at }}">
                                {{ comment.created_at|naturaltime }}
                            </time>
                        </span>
                    </div>
                {% endif %}
            {% empty %}
                <div class="fc text-white fs-3 my-3">
                    {% trans "There is no comments" %}
                </div>
            {% endfor %}
        </div>
        <form id="form-create-comment-main" class="form-control py-3 bg-dark text-white d-flex flex-column gap-2" style="border: none" action="{% url 'course_personal_video' lesson.id %}" method="POST">
            {% csrf_token %}
            <h3 class="mb-4">
                {% trans "Add a Comment to the Video" %}
            </h3>
            <div id="form-related-comment" class="rounded text-muted fw-bold py-3 px-2" style="background-color: var(--bs-gray-200); transform: scale(0); transition: .3s ease; position: absolute;">
                <button type="button" class="btn-close position-absolute end-0 me-2" aria-label="Close"></button>
                {% trans "Related Comment" %}
                <p class="text-black fw-normal mt-3"></p>
            </div>
            {{ form }}
            <input type="hidden" name="comment-id">
            <button class="btn btn-primary bg-gradient mt-3" style="width: fit-content" type="submit">
                {% trans "Create" %}
            </button>
        </form>
        <script src="{% static 'js/comment_reply.js' %}"></script>
    </div>
{% endblock content %}
