{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
    {% trans "Course Details" %}
{% endblock title %}

{% block content %}
    <div class="p-5 text-white my-5 container rounded" style="background: var(--bg-details);">
        {% if LANGUAGE_CODE == "en-us" %}
            <div class="row justify-content-between align-items-stretch gap-5"> 
                <img class="col-md-4 rounded shadow" src="{{ course.thumbnail_image.url }}" alt="{{ course.name }}">
                <h3 class="col-md-7 bg-gradient fc fs-4 rounded text-center mt-md-0 mt-3 py-md-0 py-3" style="background-color: var(--cards-color);">
                    {{ course.short_description }}
                </h3>
            </div>
            <div class="row mt-5 h5 bg-gradient p-4 text-white rounded shadow" style="background-color: var(--cards-color-2)">
                {{ course.description }}
            </div>
        {% else %}
            <div class="row justify-content-between align-items-stretch gap-5"> 
                <img class="col-md-4 rounded shadow" src="{{ course.thumbnail_image.url }}" alt="{{ course.name }}">
                <h3 class="col-md-7 bg-gradient fc fs-4 rounded text-center mt-md-0 mt-3 py-md-0 py-3" style="background-color: var(--cards-color);">
                    {{ course.short_description_arabic }}
                </h3>
            </div>
            <div class="row mt-5 h5 bg-gradient p-4 text-white rounded shadow" style="background-color: var(--cards-color-2)">
                {{ course.description_arabic }}
            </div>
        {% endif %}
        <div class="row justify-content-center bg-gradient mb-0 py-4 px-2 my-5 gap-3 rounded" style="background-color: var(--cards-color-2)">
            <div class="col-md-6 fs-4 text-black bg-light bg-gradient rounded p-2" style='font-family: "Courier New";'>
                <span class="fw-bold text-success ms-2 mt-md-0 mt-5">
                    {% trans "Price" %}:
                </span>
                <span class="fw-bold ms-3">
                    {{ course.price|currency }}
                </span>
            </div>
            <button onclick="updateCart(this, location.href.split('/').slice(0, 3).join('/') + '/')" data-cid="{{ course.id }}"  class="col-md-5 btn btn-dark bg-gradient fs-5">
                {% trans "Add To Cart" %} <i class="bi bi-bag-plus"></i>
            </button>
        </div>
    </div>
    
{% endblock content %}